<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="blackjack-server" version="2.5" metadata-complete="true">


    <servlet>
        <servlet-name>groovyServlet</servlet-name>
        <servlet-class>com.zhaizhijun.blackjack.server.GroovyServlet</servlet-class>
        <load-on-startup>0</load-on-startup>

    </servlet>
    <servlet-mapping>
        <servlet-name>groovyServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!-- Welcome file lists -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
